<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>NI-APH examples</title>
	<meta name="description" content="Examples">
	<meta name="author" content="Adam Vesecký">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style type="text/css">
	body {
		font-family: "Arial";
		background-color: #1d232d;
		color: #e8eaec;
	}

	h1 {
		font-size: 60px;
	}

	table {
		font-size: 40px;
		width: 80%;
		text-align: left;
	}

	th {
		text-transform: uppercase;
	}


	tr {
		background-color: #535e70;
	}

	td,
	th {
		padding: 20px;
	}

	table tr:nth-child(2n+2) {
		background-color: #2f3744;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	a {
		color: #6f8ce9;
	}
</style>

<body>
	<div class="container">
		<h1>NI-APH Examples</h1>
		<table>
			<tr>
				<th>Tutorial</th>
				<th>Desc</th>
				<th>Link</th>
			</tr>
			<tr>
				<td>01</td>
				<td>Sprite example</td>
				<td><a href='./01_sprite.html'>link</a></td>
			</tr>
			<tr>
				<td>01</td>
				<td>ThreeJS Example</td>
				<td><a href='./01_threejs.html'>link</a></td>
			</tr>

			<tr>
				<td>02</td>
				<td>Primitives Example</td>
				<td><a href='./02_primitives.html'>link</a></td>
			</tr>
			<tr>
				<td>02</td>
				<td>Text Example</td>
				<td><a href='./02_text.html'>link</a></td>
			</tr>
			<tr>
				<td>02</td>
				<td>Particles Example</td>
				<td><a href='./02_particles.html'>link</a></td>
			</tr>
			<tr>
				<td>02</td>
				<td>Sound Example</td>
				<td><a href='./02_sound.html'>link</a></td>
			</tr>
		</table>
	</div>
</body>

</html>